.projects-container__title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.projects-content {
  display: flex;
  flex-direction: column;
  max-width: 40.8rem;

  margin-bottom: 5rem;
  padding: 2rem;

  background-color: var(--bg--secondary);
  border: 0.1rem solid rgb(185, 185, 185);
  border-radius: 1rem;
  -webkit-box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);
  -moz-box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);
  box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);

}

.projects-content__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-top: 4rem;
  margin-bottom: 4rem;
}

.projects-content__img-project {
  width: 7.5rem;
  border-radius: 50%;
}

.projects-content__title {
  font-size: 2.4rem;
}

.projects-content__subtitle-fullstack {
  background-color: var(--bg--primary);
  display: flex;
  justify-content: center;

  font-size: 1.4rem;
  font-weight: bold;

  padding: 0.2rem;
  margin-top: 0.5rem;
  border: 0.1px solid grey;
  border-radius: 2rem;
  max-width: 9rem;
}

.projects-content__subtitle-frontend {
  background-color: var(--bg--primary);
  display: flex;
  justify-content: center;

  font-size: 1.4rem;
  font-weight: bold;

  padding: 0.2rem 0.4rem;
  margin-top: 0.5rem;
  border: 0.1px solid grey;
  border-radius: 2rem;
  max-width: 9rem;
}

.projects-content__text {
  display: flex;
  max-width: 35rem;
  margin: 0 auto 3rem auto;
}

.projects-content__tecnology-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.projects-content__tecnology {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  margin: 2rem auto;
}

.projects-content__icons {
  display: flex;
  gap: 1rem;
}
.icon-color {
  color: black;
}

.projects-content__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  gap: 1rem;
}

.projects-content__btn-purple-bg {
  background-color: #E1DCF0;
}

.projects-content__btn-red-bg {
  background-color: #FACDD0;
}

.projects-content__btn-orange-bg {
background-color: #ffd59e;
}

.projects-content__btn-purple-bg,
.projects-content__btn-red-bg,
.projects-content__btn-orange-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;

  color: black;
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.projects-content__btn-purple-bg:hover,
.projects-content__btn-red-bg:hover,
.projects-content__btn-orange-bg:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.03);
}

@media (max-width: 1000px) {
  .projects-container__title {
    font-size: 2rem;
    margin: 3rem 0;
  }

  .projects-content {
    display: flex;
    flex-direction: column;
    max-width: 34rem;
  }

  .projects-content__text {
    display: flex;
    font-size: 1.5rem;
    max-width: 22rem;
    margin: 0 auto 3rem auto;
  }

  .projects-content__btn-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }

  .projects-content__btn-purple-bg,
  .projects-content__btn-red-bg,
  .projects-content__btn-orange-bg  {
    width: 100%;
  }
}