.header-content {
  position: fixed;
  margin-right: 60rem;
}

.header-content__title {
  font-size: 5.4rem;
  margin-bottom: 2rem;
}

.header-content__subtitle {
  font-size: 5.4rem;
  max-width: 39rem;
}

.header-content__social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: 1rem;
  border-top: 0.1px solid black;
  max-width: 39rem;
}

.header-content__social-icons-margin {
  margin-top: 1.5rem;
  transition: transform 0.3s ease;
}

.header-content__social-icons-margin:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.1);
}

.linkedin-icon {
  color: #0A66C2;
}

.github-icon {
  color: #1F2328;
}

.whatsapp-icon {
  color: #31D24E;
}

.file-icon {
  color: #F7C427;
  margin-left: 0.2rem;
}

@media (max-width: 1000px) {
  .header-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto 3rem auto;
    position: static;
  }

  .header-content__title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  
  .header-content__subtitle {
    font-size: 5rem;
    max-width: 38rem;
  }
  
}

@media (max-width: 500px) {
  .header-content {
    display: flex;
    flex-direction: column;

    margin: 0 auto 3rem auto;
    justify-content: center;

    position: static;
  }

  .header-content__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .header-content__subtitle {
    font-size: 4rem;
  } 
}

