ul {
  list-style-type: none;
  margin-top: -1.5rem;

  padding-bottom: 1rem;
}


.section-content__title__about-me {
  font-size: 2.4rem;
}

.section-content__about-me__paragraph {
  margin-top: 2rem;
  max-width: 42.4rem;
}
.section-content__title-education {
  font-size: 2.4rem;
  margin: 2rem 0;
}

.section-content__education {
  background-color: var(--bg--secondary);

  padding: 1rem 1rem 0 1rem;

  border-radius: 1rem;
  -webkit-box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);
  -moz-box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);
  box-shadow: -1px 3px 16px 6px rgba(0,0,0,0.29);

}

.section-content__education__legend {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-content__education__institution,
.section-content__education__conclusion {
  margin-bottom: 0.5rem
}

summary {
  margin-bottom: 1rem;
}

.section-content__details {
  margin-bottom: 2rem;
}

.section-content__details__summary-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

li {
  margin-bottom: 0.3rem;
}