* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: auto;
}